name: deploy

on:
  workflow_run:
    workflows: [build]
    types: [completed]

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    permissions:
      actions: read
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: test-artifact
          path: output
          run-id: ${{ github.event.workflow_run.id }}
      - name: Verify
        run: cat output/output.txt
